/* Estilos generales */

body {
    font-family: serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos del header */

header {
    background-color: #09080e; /* Color azul */
    color: white;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .left {
    flex: 1;
}

.header-content .center {
    flex: 2;
    text-align: center;
}

.header-content .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Para centrar verticalmente el logo */
}

/* Estilos del header */

.header-content .logo {
    max-width: 100px; /* Tamaño reducido del logo */
    height: auto;
    margin-right: 50%; /* Mover el logo a la derecha */
}


/* Estilos específicos de productos */

.product {
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

/* Estilos del banner */

#banner {
    background: url('../imagenes/banner.jpg') no-repeat center center;
    background-size: cover;
    color: rgb(5, 4, 4);
    text-align: center;
    padding: 100px 0;
}

/* Estilos de las secciones de "About" y "Service" */

#about, #service {
    background-color: #f8f9fa;
    flex: 1;
}

.custom-image {
    width: 300px; /* Ancho específico en píxeles */
    height: 2000px; /* Altura específica en píxeles */
}

/* Estilos para el footer */
footer {
    background-color: #000000;
    color:white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
img {
    border: 2px solid black; 
    border-radius: 3px; 
}
